.header {
  padding: 10px 20px;
  background-image: linear-gradient(60deg, #eeaeca 0%, #94bbe9 100%);
}

.title {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #2a86f0;
}
