.footer {
  padding: 5px 15px;
  background-image: linear-gradient(
    60deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(150, 180, 230, 1) 100%
  );
}

.copyright {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #584158;
}

.author {
  color: inherit;
  text-decoration: none;
}

.author:hover {
  text-decoration: underline;
  opacity: 0.8;
}
