@import "~normalize.css/normalize.css";
@import "@fontsource/open-sans";

#root {
  min-height: 100vh;
  font-family: "Open Sans";
  background-color: rgba(148, 187, 233, 1);
  background-image: linear-gradient(
    60deg,
    #ceb3d5 0%,
    #eeaeca 20%,
    #94bbe9 100%
  );

  display: flex;
  justify-content: stretch;
  align-items: center;
}

.colors {
  --title: #2a86f0;
  --text: #584158;
  --aspect: #adff2f;
  --second: #fff93c;
  --blackout: rgba(194, 194, 194, 0.5);
  --background-first: #ceb3d5;
  --background-middle: #eeaeca;
  --background-last: #94bbe9;
}
